:root {
  --button-bg: #282828;
  --primary-bg: #d9332d;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Helvetica Light";
  src: url("fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue Thin";
  src: url("fonts/HelveticaNeue Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Helvetica Light"; */
  color: #646464;
  font-size: 100%;
  font-weight: 400;
  background-color: #fff;
  line-height: 1.5;
  text-align: left;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: none;
  color: #333;
}
.site-btn,
.site-btn:link,
.site-btn:visited {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  padding: 21px 35px;
  background-color: var(--button-bg);
  display: inline-block;
  border-radius: 50px;
}
.site-btn::hover,
.site-btn:active {
  color: #fff;
}
.site-btn--download {
  margin-top: 31px;
  margin-bottom: 66px;
}

.site-btn-2,
.site-btn-2:link,
.site-btn-2:visited {
  color: #fff;
  font-weight: 700;
  background-color: var(--primary-bg);
  display: inline-block;
  border-radius: 50px;
  padding: 13px 32px;
  text-transform: uppercase;
}
.site-btn-2::hover,
.site-btn-2:active {
  color: #fff;
}
.downloadbutton {
  margin-top: 67px;
}
/* ====================================================== */
/* HEADER CSS */
/* ====================================================== */
header {
  background: url("imgs/hero.jpg") no-repeat top center/cover;
}
.navbar {
  padding: 0;
  padding-top: 48px;
}
.main-menu {
  list-style: none;
  display: flex;
  margin: 0;
}
.main-menu a {
  text-transform: uppercase;
  padding: 0 20px;
  color: #fff;

  display: block;
  line-height: 42px;
}
.main-menu a.active::after {
  content: "";
  height: 5px;
  background-color: #fff;
  display: block;
}
.main-title {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 60px;
  color: #fff;
}

.hero-content {
  padding-top: 135px;
  overflow: hidden;
}
.hero-row {
  position: relative;
}
.left-banner {
  max-width: 558px;
}
.right-banner {
  top: -26px;
  position: absolute;
  right: -75px;
}
.banner-description {
  font-family: "HelveticaNeue Thin";
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  padding-top: 33px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 90%;
}

/* ====================================================== */
/* App Section */
/* ====================================================== */
.app-features-container {
  padding-top: 72px;
  padding-bottom: 109px;
}
.secondary-title {
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #8a8a8a;
}

.app-description {
  font-family: "Helvetica Light", sans-serif;
  font-size: 22px;
  line-height: 32px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 28px;
  font-weight: 400;
}
.app-item {
  text-align: center;
}
.app-item-container {
  padding-top: 58px;
}
.app-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #1a1a1a;
  padding-top: 32px;
}
.app-item p {
  font-family: "Helvetica Light", sans-serif;
  font-size: 18px;
  color: #646464;
  line-height: 26px;
  margin: 0 auto;
  width: 80%;
  hyphens: auto;
  padding-top: 29px;
}

/* ====================================================== */
/* Nose Section */
/* ====================================================== */
.bignose {
  background-image: url("imgs/lady-nose.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 185px;
  padding-bottom: 172px;
}
.bignose h3 {
  color: #fff;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 66px;
  width: 745px;
}
.bignose h3 span {
  color: #f55150;
}
.bignose p {
  font-family: "Helvetica Light", sans-serif;
  color: #585858;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 0;
  padding-top: 26px;
  width: 400px;
}

/* ====================================================== */
/* Home Footer Section */
/* ====================================================== */

.home-footer {
  background-color: #2e2e38;
  padding-top: 122px;
  padding-bottom: 151px;
  color: #fff;
}
.footer-logo {
  display: block;
}
.home-footer p {
  margin-bottom: 0;
}
.home-footer h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 57px 0 28px;
  margin: 0;
}
.home-footer .popular-posts {
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 230px;
}
.home-footer .popular-posts li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.home-footer .popular-posts li:last-child {
  padding-bottom: 0;
}
.home-footer .popular-posts li::before {
  content: "";
  height: 41px;
  width: 55px;
  background-color: #e74c3c;
  flex: 0 0 55px;
  margin-right: 15px;
}
.home-footer .popular-posts li span {
  flex: 1;
  line-height: 18px;
}

p.sedlex-title {
  font-weight: 700;
  font-size: 14px;
  padding-top: 5px;
}
.sedlex-ago {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  padding-top: 4px;
}
.sedlex-description {
  font-size: 15px;
  width: 65%;
  line-height: 18.5px;
  padding-top: 22px;
}
.sedlex-followus {
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
}
p.about-description {
  margin-top: -3px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 15px;
  width: 80%;
  line-height: 23px;
}

/* ====================================================== */
/* Site Footer Section */
/* ====================================================== */
footer {
  background-color: #d7dedc;
  padding: 34.5px 0;
  color: #000;
}
footer .footer-container {
  display: flex;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}
.footer-left {
  padding-left: 55px;
  font-size: 25.5px;
}
.footer-right {
  padding-right: 57px;
  margin-left: auto;
  display: flex;
}
.footer-right img {
  display: inline-block;
  padding: 0 19px;
}
.footer-right img:last-child {
  padding-right: 0;
}
.footer-left span::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 19px;
  background-color: #000000;
  margin: 0 23px;
  vertical-align: middle;
}

/* ====================================================== */
/* Animations */
/* ====================================================== */
.o-hidden {
  overflow: hidden;
}
.negetive-z {
  position: relative;
  z-index: -5;
}
.right-banner.animated.bounceInUp {
  animation-duration: 2s;
}
.do-animate {
  opacity: 0;
}
.do-animate.animated {
  opacity: 1;
}

/* ====================================================== */
/* Media Queries */
/* ====================================================== */
@media (max-width: 480px) {
  header .navbar {
    padding-top: 10px;
  }
  ul.main-menu {
    display: none;
  }

  .right-banner {
    background-color: #fff;
    padding-top: 20px;
  }
  .hero-content {
    padding-top: 50px;
  }
  .right-banner {
    position: relative;
    top: 0;
    right: 0;
  }
  .right-banner img {
    width: 100%;
  }
  .main-title,
  .secondary-title,
  .bignose h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .banner-description {
    font-size: 22px;
    line-height: 28px;
  }
  .site-btn,
  .site-btn:link,
  .site-btn:visited {
    padding: 14px 20px;
    font-size: 16px;
  }

  .bignose {
    padding: 50px 0;
  }

  .bignose h3,
  .bignose p {
    width: 100%;
  }
  .container.footer-container {
    flex-direction: column;
  }
  .footer-left,
  .footer-right {
    padding: 0;
  }
  .footer-left {
    font-size: 16px;
    text-align: center;
  }
  .footer-right {
    margin: 0;
    margin-top: 1rem;
  }
  .footer-left span::after {
    width: 0;
    margin: 0;
  }
}
